[submodule "submodules/resources"]
	path = submodules/resources
	url = https://git.chaotikum.org/doralitze/mission-dmx-resources.git
[submodule "submodules/docs"]
	path = submodules/docs
	url = https://github.com/Mission-DMX/Docs.git
[submodule "submodules/NodeGraphQt"]
	path = submodules/NodeGraphQt
	url = git@github.com:CorsCodini/NodeGraphQt.git
	branch = fixed
