# Base dependencies
black
flake8
PySide6
pyqtgraph>=0.13.6
protobuf
xmlschema
pydantic
pylint
pylint_protobuf
requests
numpy
ruamel.yaml
# Dependencies for automatic tracking
opencv-python>=4.8.0
qimage2ndarray>=1.10
aiortc>=1.5
qasync>=0.26
onnxruntime-gpu>=1.16.1
onnxruntime-openvino
pyjoystick
